body { background-color:#000; }
#headerlogo { text-shadow: 2px 2px 2px #000;color:#fff; }
#logoholder { background-color:black; }
#headertop { background-color:transparent; }
#headernav ul { background-color:#2D2D2D; }
#headernav ul li a { color:white;font-weight:bold;text-decoration:none; }
#headernav ul li a:hover { background-color:#000; }
.lvuitemlbMe { background-color: transparent;color:white !important;}
.lvuitemlbMeSel { background-color: transparent;color:white !important; }
#nicklistinfo1 { color:white;background-color:black;}
#nicklistinfo2 { background-color:#000;color:whtie; }
.channame_nowchatting { color:white; }
.chanlabel { color:#fff;font-weight:bold; }
#wndSetAwayMsgContainer { background-color:black; }
.awaymsgabouttext { color:#FFF; }
#whisperheader { background-color:black; }
#sliderContent {color:#333333;border:2px solid #000; }
#topheaderbar { background-color:#000;color:white; }
#whisperhistoryheader { background-color:black; }
.whisperwindowholder { background-color:#000; }
#optionsheader { background-color:#000;color:white; }
#emotesheader, #modesheader, #accessheader, #propsheader { background-color:#000;color:white; }
